  <%= trap_door_field %>
	<ol>
		<li>
			<p>Name:</p>
			<%= form.text_field :author %>
		</li>
		<li>
			<p>Email: (will not be shown)</p>
			<%= form.text_field :email %>
		</li>
		<li>
			<p>Comment:</p>
			<%= form.text_area :body %>
		</li>
		<li>
			<%= form.hidden_field :commentable_type, :value => commentable.type if commentable %>
			<%= form.hidden_field :commentable_id, :value => commentable.id if commentable %>
			<%= form.submit "Submit" %>
		</li>
	</ol>