<p><%= @comment.author %> commented on the <%= @comment.commentable_type %> "<%= @comment.commentable.title %>"</p>
<blockquote>
<%= @comment.body %>
</blockquote>

<p>To view the comment, <%= link_to "click here", polymorphic_url(@comment.commentable) %>.</p>