<tr>
  <td>
    <%= rsvp.name %>
  </td>
  <td>
    <%= rsvp.attending? ? "Attending" : "Not Attending" %>
  </td>
  <td>
    <%= rsvp.guest_count %>
  </td>
  <td>
    <%= rsvp.phone %>
  </td>
  <td>
    <%= rsvp.message %>
  </td>
</tr>