<% form_for @photo, :url => gallery_photos_path(@gallery), :method => :post, :html => { :multipart => true } do |f| %>
	<%= error_messages_for 'photo' %>
	<ol>
		<li>
			Title
			<%= f.text_field :title %>
		</li>
		<li>
			Image
			<%= f.file_field :image %>
		</li>
		<li>
		  <%= f.hidden_field :gallery_id, :value => @gallery.id %>
			<%= f.submit "Post Photo" %>
		</li>
	</ol>
<% end %>