<% form_for @photo, :url => gallery_photos_path(@gallery), :method => :post, :html => { :multipart => true } do |f| %>
	<%= error_messages_for 'photo' %>
	<ol>
		<li>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</li>
		<li>
			<%= f.label :image %>
			<%= f.file_field :image %>
		</li>
		<li>
			<%= f.submit "Post Photo" %>
		</li>
	</ol>
<% end %>